* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	font-size: 40px;
	width: 100%;
	min-height: 100vh;
}

.container {
	display: grid;
	gap: 20px;

	grid-template-column: 200px auto 100px;
	grid-template-columns: repeat(3, 1fr);

	grid-template-areas: 
	"A A A A	A A A A		A A A A"
	"B B B B	B B B B		B B C C"
	"B B B B	B B B B		B B C C";
}

[class^="box-"] {
	background-color: lightgray;
	border: 4px black solid;
	border-radius: 6px;

	color: brown;
	display: grid;
	place-items: center;
}

box-1 {
	grid-area: A;
}
box-2 {
	grid-area: B;
}
box-3 {
	grid-area: C;
}
